extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Rachel Sherard
        p Full Stack JavaScript Developer
        p My background in User Experience Research and Visual Design combined with my programming skills makes me a unique type of developer with insights at multiple levels of product creation and management.
        .about-bio
          p My life mission is to make the world a better place through the power of technology. I've always had a natural inclination for helping others, and I believe there are many posibilities for ways that we can use the web to radically improve peoples lives just waiting to be discovered. 
          p When I'm not busy coding, I also love to make art and do crafts. I actually stream making artwork on Twitch and I even sell some of my art. If you're interested you can learn more about my creative pursuits at #[a(href="https://lady.ramoshe.com") lady.ramoshe.com], which is my alter ego website dedicated to my Twitch streaming and creative pursuits. 
          p You can also check out #[a(href="https://ramoshe.com") my full portfolio website] to see even more of the things I have created. You'll also fins real contact information there, instead of the fake information provided on this page. 
          p Thank you so much for taking the time to get to know more about me and my work, let me know if we can change the world together!

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
        h6 Contact Info
        ul
          li 410-555-1234
          li rachel@email.com
        a.btn-link(href='https://www.linkedin.com') LinkedIn
        a.btn-link(href='https://github.com/ramoshe') GitHub
        a.btn-link(href='https://twitter.com') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back